<h3 style="color:white;">Your Quests:</h3>
<br>
<%i = 0%>
<% @user_quests.each do |q|%>
    <strong style="color:white;">(<%=i+=1%>)</strong><br>
    <strong>Adventure Name:</strong> <%= link_to q.adventure.name, q %><br>
    <strong>Adventure Location:</strong> <%= q.adventure.location %><br>
    <strong>Adventure Description:</strong> <%= q.adventure.description %><br>
    <strong>Rick:</strong> <%= q.rick.name%><br>
    <strong>Morty:</strong> <%= q.morty.name%><br>
    <strong>Quest Score:</strong> <%= q.quest_total %><br><br>
    <strong>Items:</strong> <ul><% q.items.each do |i| %>
                <li><%= i.name %></li>
            <% end %></ul>
   <strong>Outcome:</strong> <strong style="color:red;"><%= q.outcome_message %></strong><br><br><br>
<% end %>
