<h3 style="color:white;">Create a Quest!! </h3>
<%= form_with model: @quest do |f| %>
    <%= f.label :rick%>
    <%= f.collection_select :rick_id, @ricks, :id, :name %><br><br>

    <%= f.label :morty%>
    <%= f.collection_select :morty_id, @morties, :id, :name %><br><br>

    <%= f.label :adventure%>
    <%= f.collection_select :adventure_id, @adventures, :id, :name %><br><br>
    
    <div class="form-group">
    <%= f.label :item, class: "checkbox-inline"%> (limit 3)
    <div class="col-sm-8">
    <%= f.collection_check_boxes :item_ids, @items, :id, :name, include_hidden:false %>
        </div>
    </div>
    
    <br><br>

    <%= f.submit %>
<% end %>