<h3> Your Quest </h3>
<br>
Adventure Name: <%= @quest.adventure.name%><br>
Adventure Location: <%= @quest.adventure.location %><br>
Adventure Description: <%= @quest.adventure.description %><br><br>
Rick: <%= @quest.rick.name%><br>
Morty: <%= @quest.morty.name%><br>

Rick Alive? <%= @quest.rick_alive %><br>
Morty Alive? <%= @quest.morty_alive %><br><br>
Quest Score: <%= @quest.quest_total %><br><br>
        <%if @quest.user_id == session[:user_id]%>
        Items: <ul><% @quest.items.each do |i| %>
                <li><%= i.name %></li>
            <% end %></ul><br><br>
        <% end %>
<h4 style="color:red;">Outcome: <%=@quest.outcome_message%></h4>