<h3 style="color:white;"> Your Quest </h3>
<br>
<strong>Adventure Name:</strong> <%= @quest.adventure.name%><br>
<strong>Adventure Location:</strong> <%= @quest.adventure.location %><br>
<strong>Adventure Description:</strong> <%= @quest.adventure.description %><br><br>
<strong>Rick:</strong> <%= @quest.rick.name%><br>
<strong>Morty:</strong> <%= @quest.morty.name%><br>

<strong>Rick Alive?</strong> <%= @quest.rick_alive %><br>
<strong>Morty Alive?</strong> <%= @quest.morty_alive %><br><br>
<strong>Quest Score:</strong> <%= @quest.quest_total %><br><br>
        <%if @quest.user_id == session[:user_id]%>
        <strong>Items:</strong> <ul><% @quest.items.each do |i| %>
                <li><%= i.name %></li>
            <% end %></ul><br><br>
        <% end %>
<h4 style="color:red;">Outcome: <%=@quest.outcome_message%></h4>