<h3 style="color:white;"> Make a New Morty </h3> 
<br>
<%= form_with model: @morty do |f| %> 
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :attitude %>
    <%= f.text_field :attitude %><br>

    <%= f.label :species %>
    <%= f.text_field :species %><br>

    <%= f.label :img %> (image url of your morty)
    <%= f.text_field :img %><br>

    <br>
    <%= f.submit %>
<% end %>

