<h3> All Quest Stats </h3>

<p>Total number of quests: <%=Quest.total_num_quests%> </p>
<p>Quests Completed: <%=Quest.quests_completed%> </p>
<p>Quests Failed: <%= Quest.failed_quests%> </p>

<p>Total Ricks Used: <%=Quest.total_ricks_used%> </p>
<p>Total Morty's Used: <%=Quest.total_morties_used%> </p>

<p>Ricks Killed: <%=Quest.ricks_killed %> </p>
<p>Morty's Killed: <%=Quest.morties_killed%> </p> 

<p>Percent Ricks Killed: <%=Quest.percent_ricks_killed%> </p>
<p>Percent Morty's Killed: <%=Quest.percent_morties_killed%> </p> 

<p>Quests Total Success Score: <%=Quest.quests_total_score%> </p> 
<p>Total Possible Success Score: <%=Quest.best_success_score%> </p> 
<p>Quest Success Score Percentage: <%=Quest.quest_percentage%> </p> 