<h3 style="color:white;"> All Quest Stats </h3>
<br>
<strong>Total number of quests: </strong><%=Quest.total_num_quests%><br>

<strong>Quests Completed: </strong><%=Quest.quests_completed%><br>

<strong>Quests Failed: </strong><%= Quest.failed_quests%><br><br>

<strong>Different Ricks Used: </strong> <%=Quest.total_ricks_used%><br>
<strong>Different Morty's Used: </strong> <%=Quest.total_morties_used%><br>
<strong>Ricks Killed: </strong> <%=Quest.ricks_killed %><br>
<strong>Morty's Killed: </strong> <%=Quest.morties_killed%><br> 
<strong>Percent Ricks Killed: </strong> <%=Quest.percent_ricks_killed%><br>
<strong>Percent Morty's Killed: </strong> <%=Quest.percent_morties_killed%><br><br> 

<strong>Quests Total Success Score: </strong> <%=Quest.quests_total_score%><br> 
<strong>Total Possible Success Score: </strong> <%=Quest.best_success_score%><br> 
<strong>Quest Success Score Percentage: </strong> <%=Quest.quest_percentage%><br>