<h3 style="color:white;">Quest Stats </h3>
<br>
<strong>Total number of quests:</strong> <%= @quests.count%><br>
<strong>Quests Completed:</strong> <%= @user.completed_quests%><br>
<strong>Quests Failed:</strong> <%= @user.failed_quests%><br><br>

<strong>Different Ricks Used: </strong> <%=@user.total_ricks_used%><br>
<strong>Different Morty's Used: </strong> <%=@user.total_morties_used%><br>
<strong>Ricks Killed: </strong> <%= @user.ricks_killed%><br>
<strong>Morty's Killed: </strong> <%= @user.morties_killed%><br> 
<strong>Percent Ricks Killed: </strong> <%=@user.percent_ricks_killed%><br>
<strong>Percent Morty's Killed: </strong> <%=@user.percent_morties_killed%><br><br> 

<strong>Quests Total Success Score: </strong> <%= @user.quests_total_score%><br>
<strong>Total Possible Success Score: </strong> <%= @user.best_success_score%><br> 
<strong>Quest Success Score Percentage: </strong> <%= @user.quest_percentage%><br> 
<br>
<h3 style="color:white;"><%= @user.username %> stats </h3>

<p> <strong>Level:</strong> <%= @level %></p>
<p style="color:red;"> <%= @message %> </p>




