<h3> <%= @user.username %> Quest Stats </h3>

<p>Total number of quests: <%= @quests.count%> </p>
<p>Quests Completed: <%= @user.completed_quests%> </p>
<p>Quests Failed: <%= @user.failed_quests%> </p>

<p>Total Ricks Used: <%=@user.total_ricks_used%> </p>
<p>Total Morty's Used: <%=@user.total_morties_used%> </p>

<p>Ricks Killed: <%= @user.ricks_killed%> </p>
<p>Morty's Killed: <%= @user.morties_killed%> </p> 

<p>Percent Ricks Killed: <%=@user.percent_ricks_killed%> </p>
<p>Percent Morty's Killed: <%=@user.percent_morties_killed%> </p> 

<p>Quests Total Success Score: <%= @user.quests_total_score%> </p> 
<p>Total Possible Success Score: <%= @user.best_success_score%> </p> 
<p>Quest Success Score Percentage: <%= @user.quest_percentage%> </p> 

<h3><%= @user.username %> stats </h3>

<p> Level: <%= @level %></p>
<p style="color:red;"> <%= @message %> </p>




