<h3 style="color:white;">Create your own Items!!</h3>
<br>
<%= form_for @item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :success_rate %>
    <%= f.text_field :success_rate%><br><br>

    <%= f.submit %>
<% end %>