<h3 style="color:white;"> Make a New Rick </h3> 
<br>
<%= form_with model: @rick do |f| %> 
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :attitude %>
    <%= f.text_field :attitude %><br>

    <%= f.label :species %>
    <%= f.text_field :species %><br>
    <br>
    <%= f.submit %>
<% end %>

